@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Montserrat;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

body {
    background: linear-gradient(135deg, #000000, #1f4020, #000000, #ffffff);
    background-size: 400% 400%;
    animation: gradientMove 15s ease infinite;
}


.title_span {
    font-size: 80px;
    line-height: 109.00000000000001%;
    color: #237249;
    text-shadow: 0px 0px 10px rgba(0, 255, 0, 0.4);

}

/* HEADER_QISMI */

.nav_box {
    display: flex;
    gap: 90px;
    padding-top: 40px;
}


.nav_lists {
    display: flex;
    gap: 90px;
    align-items: center;
}

.nav_link {
    font-style: Regular;
    font-size: 19.17px;
    line-height: 130%;
    color: #D9D9D9;
}


/* INTRO_QISMI */



.intro_box {
    margin-top: 90px;
    display: flex;
    gap: 150px;
}

.intro_left {
    display: flex;
    flex-direction: column;
    gap: 54px;
}

.intro_title {
    font-size: 80px;
    line-height: 109.00000000000001%;
    color: rgba(255, 255, 255, 1);
}

.intro_text {
    font-size: 19.2px;
    line-height: 160%;
    color: rgba(217, 217, 217, 1);
}

.intro_btn {
    display: flex;
    gap: 16.36px;

}

.btn_intro_first {
    font-weight: 600;
    font-size: 24px;
    line-height: 146%;
    color: rgba(255, 255, 255, 1);
    background: linear-gradient(265.23deg, #237249 6.79%, #35C66B 97.2%);
    border: none;
    border-radius: 82px;
    padding: 20px 78px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(56, 255, 89, 0.4);
    outline: none;
}

.btn_intro_first:hover {
    background: linear-gradient(135deg, #000000 #5dbc8b);
    box-shadow: 0 6px 20px #237249;
    transform: scale(1.05);
}

.btn_intro_second {
    font-weight: 400;
    font-size: 24px;
    line-height: 146%;
    color: rgba(217, 217, 217, 1);
    padding: 20px 50px;
    border-radius: 82px;
    background-color: rgba(18, 21, 23, 1);
    border: 0.05px solid white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn_intro_second:hover {
    transform: scale(1.05);
}

.intro_numer {
    display: flex;
    gap: 60px;
}

.intro_span {
    font-weight: 400;
    font-size: 62px;
    line-height: 109.00000000000001%;
    color: #35C66B;

}

.num_intro {
    font-weight: 400;
    font-size: 62px;
    line-height: 109.00000000000001%;
    color: rgba(255, 255, 255, 1);
}


.intro_img {
    width: 400px;
    height: 500px;
    opacity: 1;
}



.intro_right {
    position: relative;
    display: inline-block;
}

.discount {
    position: absolute;
    bottom: 430px;
    left: 200px;
    width: 200px;
    transform: rotate(-30deg);
    /* Butun container buriladi */
          transition: all 0.5s ease;
}

.discount:hover {
    transform: scale(1.05);
}



.discount_img {
    width: 100%;
    display: block;
}

.discount_text {
    position: absolute;
    top: 42%;
    left: 53%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    font-size: 55.02px;
    line-height: 146%;
    color: rgba(255, 255, 255, 1);
    display: inline-block;
}

/* CARD_QISMI */

.card_big_box{
    display: flex;
    justify-content: center;
    align-items: center;
       margin-top: 100px;
}

.card_box {
    display: flex;
    background: linear-gradient(264.52deg, #FFFFFF 4.95%, #E5E5E5 64.19%, #FBFBFB 88.37%);
    border-radius: 46px;
    gap: 100px;
    text-align: center;
    padding: 0 50px;
}

.card_text_eror {
    font-weight: 500;
    font-size: 32px;
    line-height: 163%;
    color: rgba(18, 21, 23, 1);
}

.card_text {
    font-weight: 500;
    font-size: 32px;
    line-height: 163%;
    color: rgba(18, 21, 23, 1);
}

.card_ul {
    padding: 20px;
}


.ul,
.ul_eror {
    transition: transform 0.4s ease;
}

.ul:hover,
.ul_eror:hover {
    transform: scale(1.1);
}

.ul_eror {
    padding-top: 40px;
    padding-bottom:20px;
}

.card_text_err{
    font-weight: 500;
    font-size: 32px;
    line-height: 163%;
    color: rgba(18, 21, 23, 1);
    padding-top: 25px;
}

.card_text_second {
    font-weight: 400;
    font-size: 20.13px;
    line-height: 163%;
    letter-spacing: -2%;
    color: rgba(18, 21, 23, 0.9);
}


.card_first {
    position: relative;
    display: inline-block;

}

.card_start {
    position: absolute;
    bottom: 250px;
    right: 930px;
    display: block;
    width: 180px;
    height: 180px;
    cursor: pointer;
    opacity: 1;
      transition: all 0.5s ease;
}

.card_start:hover {
    transform: scale(1.05);
}


.text_card_start {
    position: absolute;
    right: 970px;
    bottom: 326px;
    color: rgb(255, 255, 255);
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 32px;
    line-height: 86%;
    cursor: pointer;
}



/* SECTION_QISMI */

.starbucks_box {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    
}


/* RIGHT_QISMI */

.starbucks_right {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    padding: 50px;
}


.section_title {
    line-height: 109.00000000000001%;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 50px;
}

.section_span {
    font-weight: 700;
    font-size: 50px;
    line-height: 109.00000000000001%;
    color: #35C66B;
}

.section_text {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 163%;
    color: rgba(217, 217, 217, 1);

}


.secti_vid {
    position: relative;
    display: inline-block;
    width: max-content;
}

.secti_img {
    display: block;
    width: 100%;
    height: auto;
}

.secti_img_btn {
    background-color: transparent;
    background-image: linear-gradient(265.23deg, #237249 6.79%, #35C66B 97.2%);
    padding: 20px 20px;
    font-weight: 639;
    font-size: 20px;
    color: white;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 82.83px;
    width: 270px;
    position: absolute;
    bottom: 110px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    transition: all 0.3s ease;
}

.secti_img_btn .btn {
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(1);
    transition: filter 0.4s ease;
}

.secti_img_btn:hover {
    background-image: none;
    background-color: white;
    color: #000000;
}

.secti_img_btn:hover .btn {
    filter: brightness(0) saturate(100%) sepia(2) hue-rotate(80deg) saturate(60%);
}