@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Montserrat;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

body {
    background: #121517;
}

.title_span {
    font-size: 80px;
    line-height: 109.00000000000001%;
    color: #237249;
    text-shadow: 0px 0px 20px rgba(0, 255, 0, 0.4);

}

/* HEADER_QISMI */

.nav_box {
    display: flex;
    gap: 90px;
    padding-top: 40px;
}


.nav_lists {
    display: flex;
    gap: 90px;
    align-items: center;
}

.nav_link {
    font-style: Regular;
    font-size: 19.17px;
    line-height: 130%;
    color: #D9D9D9;
}


/* INTRO_QISMI */



.intro_box {
    margin-top: 90px;
    display: flex;
    gap: 150px;
}

.intro_left {
    display: flex;
    flex-direction: column;
    gap: 54px;
}

.intro_title {
    font-size: 80px;
    line-height: 109.00000000000001%;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
}

.intro_text {
    font-size: 19.2px;
    line-height: 160%;
    color: rgba(217, 217, 217, 1);
}

.intro_btn {
    display: flex;
    gap: 16.36px;
}

.btn_intro_first {
    font-weight: 600;
    font-size: 24px;
    line-height: 146%;
    color: rgba(255, 255, 255, 1);
    background: linear-gradient(265.23deg, #237249 6.79%, #35C66B 97.2%);
    border: none;
    border-radius: 82px;
    padding: 20px 78px;
}

.btn_intro_second {
    font-weight: 400;
    font-size: 24px;
    line-height: 146%;
    color: rgba(217, 217, 217, 1);
    padding: 20px 50px;
    border-radius: 82px;
    background-color: rgba(18, 21, 23, 1);
    border: 0.05px solid white;
}

.intro_numer {
    display: flex;
    gap: 46px;
}

.intro_span {
    font-weight: 400;
    font-size: 62px;
    line-height: 109.00000000000001%;
    color: #35C66B;

}

.num_intro {
    font-weight: 400;
    font-size: 62px;
    line-height: 109.00000000000001%;
    color: rgba(255, 255, 255, 1);
}


.intro_img {
    width: 400px;
    height: 500px;
    opacity: 1;
}



.intro_right {
    position: relative;
    display: inline-block;
}

.discount {
    position: absolute;
    bottom: 430px;
    left: 200px;
    width: 200px;
    transform: rotate(-30deg);
    /* Butun container buriladi */
}

.discount_img {
    width: 100%;
    display: block;
}

.discount_text {
    position: absolute;
    top: 42%;
    left: 53%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    font-size: 55.02px;
    line-height: 146%;
    color: rgba(255, 255, 255, 1);
    display: inline-block;
}

/* CARD_QISMI */


.card_first {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;

}

.card_box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(264.52deg, #FFFFFF 4.95%, #E5E5E5 64.19%, #FBFBFB 88.37%);
    border-radius: 46px;
    width: 1100px;
    height: auto;
    gap: 100px;
    text-align: center;
}

.card_text_eror {
    font-weight: 500;
    font-size: 32px;
    line-height: 163%;
    color: rgba(18, 21, 23, 1);
    margin-top: 50px;
}

.card_text {
    font-weight: 500;
    font-size: 32px;
    line-height: 163%;
    color: rgba(18, 21, 23, 1);
}

.card_ul {
    padding: 20px;

}

.ul_eror {
    margin-top: 26px;
}

.card_text_second {
    font-weight: 400;
    font-size: 20.13px;
    line-height: 163%;
    letter-spacing: -2%;
    color: rgba(18, 21, 23, 0.9);
}


.card_first {
    position: relative;
    display: inline-block;
}

.card_start {
    position: absolute;
    bottom: 250px;
    right: 989px;
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 48.9px;
    opacity: 1;
}

.text_card_start {
    position: absolute;
    top: 1%;
    right: 1042px;
    color: rgb(255, 255, 255);
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 32px;
    line-height: 86%;
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
}